.column {
    width: 380px;
    margin-right: 20px;
    background-color: #f2f4f7;
    border-radius: 8px;
    padding: 10px;
}


.card-container {
    max-height: calc(100vh - 8rem);
    overflow-y: auto;

}

.column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin-bottom: 10px;
}
.column-header {
    display: flex;
    align-items: center;
    background-color: #f4f5f7;
    padding: 10px;
    border-radius: 8px;
}


.column-icon {
    width: 16px;
    height: 18px;
    background-color: #FF4D4D; /* Red color */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 8px;
}

.column h3 {
    font-size: 1.2em;
    color: #333;
    margin: 0;
}
